* {
    box-sizing: border-box;


}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;

}

#social{
    background-color: black;
    width: 100%;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: center;
    padding: 13px;
    
    
}

#mark{
    display: flex;
    float: left;
    letter-spacing: 2px;
    cursor: pointer;


}

#mark:hover{
    opacity: 0.8;

}

span{
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;

}

#social>i{
    float: right;
    justify-content: space-between;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.6s;

}

#social>i:hover{
    opacity: 0.8;

}

#container{
    width: 80%;
    height: auto;
    margin: auto;
    
}

header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20,23, 28, 0, 15);
    position: relative;
    background-color: black;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#headerİmg{
    width: 100%;
    height: 250px;
    opacity: 0.8;

}

#centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    color: #adadad;

}

section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px darkgrey;
    margin-top: 15px;
    overflow: hidden;
}


nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
    
}

nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

nav li{
    list-style-type: none;
    
 
}

nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4 ;
    padding-left: 20px;
    display: block;
}

nav li a:hover{
    color: white;
    background-color: #adadad;

}

i{
    margin-right: 10px;

}

main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;

}

.jpg{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
     

}

.jpg:hover{
    opacity: 0.6;

}

.content{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px darkgrey;
    margin-bottom: 8px;
    

}

h5{
    margin: 10px;
    color: dimgray;

}

.text{
    margin-left: 5px;
    color: dimgray;

}

.btn:link{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: slategray;
    color: white;
    text-decoration: none;
    margin: 15px;
    border-radius: 7px;
    transition: opacity 0.7s;

}

.btn:hover{
    opacity: 0.8;

}

footer{
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px darkgrey;

}

.about{
    width: 100%;
    height: 40px;
    background-color: black;
    color: #adadad;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: o 2px 5px 2px #adadad;
    font-weight: bold;
    margin-top: 5px;

}

#aboutJpg{
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 10px;
    box-shadow: 2px;
    margin: 10px;
    transition: all 0.8s;

}

#aboutJpg:hover{
    opacity: 0.7;

}

h3{
    margin-left: 10px;

}

.textP{
    margin-right: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 30px;
    color: #494949;

}

.textP::first-letter{   
    color: black;
    font-size: 20px;

}

.refH{
    width: 100%;
    height: 40px;
    background-color: black;
    color: #adadad;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: o 2px 5px 2px #adadad;
    font-weight: bold;
    margin-top: 5px;
}

.refJpg{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
    
}

.ref{
    width: 30%;
    height: 300px;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 7px;
    box-shadow: o 2px 5px 2px #adadad;

}

.comp{
    margin-top: -5px;
    text-align: center;
    background-color: #b4b4b4;
    width: 100%;
    height: 30px;
    justify-content: center;
    margin-left: 0;
    line-height: 30px;

}

.refJpg:hover{
    opacity: 0.7;

}

.detail{
    margin-top: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    justify-content: center;
    margin-left: 0;
    font-weight: bold;
    color: #494949;
    line-height: 30px;


}

.galeryHead{
    width: 100%;
    height: auto;
    background-color: black;
    color: #adadad;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: o 2px 5px 2px #adadad;
    font-weight: bold;
    margin-top: 5px;
    
}

.galeryJpg{
    width: 22%;
    height: 200px;
    border-radius: 7px;
    opacity: 0.9;
    box-shadow: o 2px 5px 2px #adadad;
    margin: 10px;
    transition: all 0.6s;
    object-fit: cover;

}

.galeryJpg:hover{
    border: 4px white solid;
    opacity: 1;
    cursor: pointer;


}

.contact{
    width: 100%;
    height: auto;
    background-color: black;
    color: #adadad;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: o 2px 5px 2px #adadad;
    font-weight: bold;
    margin-top: 5px;

}

iframe{
    width: 98%;
    height: 350px;
    border-radius: 10px;
    box-shadow: o 2px 5px 2px #adadad;
    margin-top: 10px;
    margin-left: 10px;

}

.form{
    width: 49%;
    height: 380px;
    float: left;
    border: 1px solid #adadad;
    padding: 10px;
    margin-right: 10px;
   
}

.col25{
    width: 25%;
    float: left;
    margin-top: 6px;

}

.col75{
    width: 75%;
    float: left;
    margin-top: 6px;
    
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    

}

input[type=text] , textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #adadad;
    border-radius: 4px;

}

.row::after{
    content: "";
    clear: both;
    display: block;

}

input[type=submit]{
    background-color: #4caf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    transition: 0.8s;
    
}

input[type=submit]:hover{
    opacity: 0.7;

}

.adress{
    width: 49%;
    height: 380px;
    float: left;
    border: 1px solid #adadad;
    padding: 10px;
    

}

h2{
    text-align: center;

}

.span1{
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    letter-spacing: 1.5px;
    text-align: center;font-size: 16px;

}



